* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e9e2d5;
}

.quiz-wrapper {
  width: 400px;
  height: 750px;
  border-radius: 60px;
  background-color: white;
  position: relative;
  box-shadow: 2px 5px 28px -5px rgba(0,0,0,0.91);
  -webkit-box-shadow: 2px 5px 28px -5px rgba(0,0,0,0.91);
  -moz-box-shadow: 2px 5px 28px -5px rgba(0,0,0,0.91);
}

.previous {
  position: absolute;
  top: 4rem;
  left: 1rem;
  font-size: 2rem;
  opacity: .3;
}

.question {
  position: absolute;
  top: 9rem;
  left: 1.3rem;
  font-size: 1.6rem;
  margin-right: 1rem;
}

.guide {
  position: absolute;
  top: 11.5rem;
  left: 1.5rem;
  font-size: 1.2rem;
  opacity: .5;
}


