* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e9e2d5;
}

.quiz-wrapper {
  width: 400px;
  height: 750px;
  border-radius: 60px;
  background-color: white;
  position: relative;
  box-shadow: 2px 5px 28px -5px rgba(0,0,0,0.91);
  -webkit-box-shadow: 2px 5px 28px -5px rgba(0,0,0,0.91);
  -moz-box-shadow: 2px 5px 28px -5px rgba(0,0,0,0.91);
}

.previous {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 2rem;
  opacity: .3;
}

.question {
  position: absolute;
  top: 6rem;
  left: 2.4rem;
  font-size: 1.6rem;
  margin-right: 1rem;
}

.answers {
  position: absolute;
  top: 13rem;
  left: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgreen;
  width: 320px;
  padding: 1.2rem;
  border-radius: 15px;
  font-size: 1.2rem;
  background-color: #43b029;
  color: white;
  cursor: pointer;
}

.answer:hover {
  background-color: #25a007;
}

.correctAnswer {
  background-color: cornflowerblue;
}

.none {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  padding: 1.2rem;
  border-radius: 15px;
  font-size: 1.2rem;
  background-color: #43b029;
  color: white;
  background-color: lightgray;
}

.btn {
  width: 320px;
  position: absolute;
  top: 42rem;
  left: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  all: unset;
  width: 100%;
  text-align: center;
  padding: 1.1rem;
  background-color: #19202e;
  color: white;
  border-radius: 15px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

button:active,
button:hover {
  background-color: rgb(56, 86, 88);
  color: white;
}

.result {
  font-size: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: oblique;
}
