* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.quiz {
  display: grid;
  place-items: center;
  margin-top: 150px;
}

form {
  width: 500px;
  background-color: cadetblue;
  padding-block-start: 2rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  font-weight: 550;
  border-radius: 2rem;
}

.question {
  text-align: center;
}

.answers {
  display: flex;
  flex-direction: column;
  margin-left: 4.5rem;
  margin-top: 2rem;
  gap: 2rem;
  padding-block-end: 1.5rem;
}

input {
  width: 1.5rem;
  height: 1rem;
}

.btn {
  display: grid;
  place-items: center;
  margin-block: 1.5rem;
}

.btn button {
  width: 100%;
  padding-block: 1.2rem;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  font-weight: 550;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  cursor: pointer;
}
